{% extends "index.html" %}

{% block content %}
<html>
<body>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<h1>Info Form</h1>

	<script>
		function getLocation() {
			if (navigator.geolocation) {
				// console.log("get location");
				navigator.geolocation.getCurrentPosition(showPosition);
			}
			else {
				alert("can't access location");
			}
		}

		// navigator.geolocation.getCurrentPosition(showPosition);
		function showPosition(position) {
			document.getElementById("lat").value = position.coords.latitude;
			document.getElementById("long").value = position.coords.longitude;
			// console.log("fill lat and long");
		}

		function sleep(ms) {
		  return new Promise(resolve => setTimeout(resolve, ms));
		}
	</script>

	<form action="/forms" method="post" novalidate>
		{{ form.hidden_tag() }}
		<script>
			getLocation();
			sleep(3000);
		</script>
		<input type="hidden" id="lat" name="lat">
		<input type="hidden" id="long" name="long">
		<p>
			{{ form.name.label }}<br>
			{{ form.name(size=32) }}
		</p>
		<p>
			{{ form.school_length.label }}<br>
			{{ form.school_length(size=32) }}
		</p>
		<p>
			{{ form.school_name.label }}<br>
			{{ form.school_name(cols="50", rows="4") }}
		</p>
		<p>
			{{ form.people_in_house.label }}<br>
			{{ form.people_in_house(cols="50", rows="4") }}
		</p>
		<p>
			{{ form.why_not_in_school.label }}<br>
			{{ form.why_not_in_school(cols="50", rows="4") }}
		</p>
		<p>
			{{ form.dreams.label }}<br>
			{{ form.dreams(cols="50", rows="4") }}
		</p>
		<p>
			{{ form.most_loved.label }}<br>
			{{ form.most_loved(cols="50", rows="4") }}
		</p>
		<p>
			{{ form.potential_abuser.label }}<br>
			{{ form.potential_abuser(cols="50", rows="4") }}
		</p>
		<p>
			{{ form.what_abuse.label }}<br>
			{{ form.what_abuse(cols="50", rows="4") }}
		</p>
		<p>
			{{ form.phone.label }}<br>
			{{ form.phone(cols="50", rows="4") }}
		</p>
		<p>
			{{ form.address.label }}<br>
			{{ form.address(cols="50", rows="4") }}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
</body>
<html>
{% endblock %}
