{% extends "index.html" %}

{% block content %}
<html>
<body>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<h1>Info Form</h1>

	<script>
		function getLocation() {
			if (navigator.geolocation) {
				// console.log("get location");
				navigator.geolocation.getCurrentPosition(showPosition);
			}
			else {
				alert("can't access location");
			}
		}

		// navigator.geolocation.getCurrentPosition(showPosition);
		function showPosition(position) {
			document.getElementById("lat").value = position.coords.latitude;
			document.getElementById("long").value = position.coords.longitude;
			// console.log("fill lat and long");
		}

		function sleep(ms) {
		  return new Promise(resolve => setTimeout(resolve, ms));
		}
	</script>

	<form action="/forms" method="post" novalidate>
		{{ form.hidden_tag() }}
		<script>
			getLocation();
			sleep(3000);
		</script>
		<input type="hidden" id="lat" name="lat">
		<input type="hidden" id="long" name="long">
		<p>
			{{ form.name.label }}<br>
			{{ form.name(size=32) }}
		</p>
		<p>
			{{ form.income.label }}<br>
			{{ form.income(size=32) }}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
</body>
<html>
{% endblock %}
